{
    "openapi": "3.0.0",
    "info": {
        "title": "API ATA",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://apiqa.usercenter.mx/"
        },
        {
            "url": "http://localhost:8000/"
        }
    ],
    "paths": {
        "/api/hours": {
            "get": {
                "summary": "Horarios disponibles referente a la fecha seleccionada y al tipo de cita",
                "operationId": "App\\Http\\Controllers\\API\\AppointmentDateController::hours",
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Los valores aceptados son FREE y PAID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string",
                            "pattern": "^(FREE|PAID)$"
                        },
                        "example": "FREE"
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        },
                        "example": "2020-10-25"
                    }
                ],
                "responses": {
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": [
                                        "message",
                                        "errors"
                                    ],
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "he given data was invalid."
                                        },
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "date": {
                                                        "type": "string",
                                                        "example": "El campo date ser una fecha posterior o igua a now"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "collectionFormat": "multi"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "string",
                                                "example": "09:00"
                                            },
                                            "collectionFormat": "multi"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/benefits": {
            "get": {
                "summary": "Todos los beneficios",
                "operationId": "App\\Http\\Controllers\\API\\BenefitsController::all",
                "responses": {
                    "200": {
                        "description": "List",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "number",
                                                        "example": "1"
                                                    },
                                                    "package_id": {
                                                        "type": "number",
                                                        "example": "2"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Seguimiento..."
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "collectionFormat": "multi"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/benefits/{idPackage}": {
            "get": {
                "summary": "Beneficios por paquete",
                "operationId": "App\\Http\\Controllers\\API\\BenefitsController::byPackage",
                "parameters": [
                    {
                        "name": "idPackage",
                        "in": "path",
                        "description": "Id del paquete",
                        "required": true,
                        "example": "1"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "number",
                                                        "example": "1"
                                                    },
                                                    "package_id": {
                                                        "type": "number",
                                                        "example": "2"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Seguimiento..."
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "collectionFormat": "multi"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/card": {
            "post": {
                "tags": [
                    "App móvil"
                ],
                "summary": "Registro de tarjeta (Nuevo)",
                "description": "Para más información consultar la siguiente página https://www.openpay.mx/docs/api/#crear-una-tarjeta-con-token",
                "operationId": "App\\Http\\Controllers\\API\\CRUDCardsController::index",
                "requestBody": {
                    "description": "Registrar una tarjeta",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "tokenId",
                                    "deviceSessionId"
                                ],
                                "properties": {
                                    "tokenId": {
                                        "description": "Identificador del token generado en el navegador o dispositivo del cliente",
                                        "type": "string",
                                        "format": "string",
                                        "example": "ksjjwsgdn9mhl3koynw0"
                                    },
                                    "deviceSessionId": {
                                        "description": "La propiedad device_session_id deberá ser generada desde el API JavaScript",
                                        "type": "string",
                                        "format": "string",
                                        "example": "PC3NlVo180uxQvOzugX1L9r7FiZ5uR6O"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "code": {
                                            "type": "int",
                                            "example": "200"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tarjeta creada exitosamente"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unprocessable Entity Token ID does not exist"
                                        },
                                        "errors": {
                                            "properties": {
                                                "tokenId": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "El campo token id es obligatorio."
                                                    },
                                                    "collectionFormat": "multi"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/api/cards": {
            "get": {
                "tags": [
                    "App móvil"
                ],
                "summary": "Obtener todas las tarjetas del cliente (Nuevo)",
                "description": "Consulta de todas las tarjetas del cliente.",
                "operationId": "App\\Http\\Controllers\\API\\CRUDCardsController::cards",
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "code": {
                                            "type": "int",
                                            "example": "200"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "example": "1"
                                                    },
                                                    "user_id": {
                                                        "type": "string",
                                                        "example": "12"
                                                    },
                                                    "card_number": {
                                                        "type": "string",
                                                        "example": "411111XXXXXX1111"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/api/v2/contracts/customer": {
            "post": {
                "tags": [
                    "App móvil"
                ],
                "summary": "Contratos del cliente",
                "operationId": "App\\Http\\Controllers\\API\\CRUDContractsController::getContractPaginateByCustomer",
                "requestBody": {
                    "description": "Contratos del cliente en session paginados",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "index",
                                    "byPage"
                                ],
                                "properties": {
                                    "index": {
                                        "description": "Número de página",
                                        "type": "string",
                                        "example": "1"
                                    },
                                    "byPage": {
                                        "description": "Número de contratos por página",
                                        "type": "string",
                                        "example": "100"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "complete": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "total": {
                                            "type": "number",
                                            "example": "4"
                                        },
                                        "rows": {
                                            "description": "Array de contratos por página",
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "description": "Id interno del contrato",
                                                        "type": "number",
                                                        "example": "1"
                                                    },
                                                    "packages_id": {
                                                        "description": "Id interno del paquete",
                                                        "type": "string",
                                                        "example": "2"
                                                    },
                                                    "url_doc": {
                                                        "description": "nombre del documento",
                                                        "type": "string",
                                                        "example": "313202101201234056008779d99b50.pdf"
                                                    },
                                                    "price": {
                                                        "description": "Precio del paquete",
                                                        "type": "string",
                                                        "example": "4000.00"
                                                    },
                                                    "id_customer_openpay": {
                                                        "description": "Id del cliente registrado en openpay",
                                                        "type": "string",
                                                        "example": "acgebk9tdxre09zitih2"
                                                    },
                                                    "created_at": {
                                                        "description": "Fecha de contratación del paquete",
                                                        "type": "string",
                                                        "example": "2021-01-20 12:34:05"
                                                    },
                                                    "updated_at": {
                                                        "description": "Fecha de actualización del paquete",
                                                        "type": "string",
                                                        "example": "2021-01-20 12:34:05"
                                                    },
                                                    "services_id": {
                                                        "description": "Id interno del servicio",
                                                        "type": "string",
                                                        "example": "1"
                                                    },
                                                    "users_id": {
                                                        "description": "Id interno del abogado encargado",
                                                        "type": "string",
                                                        "example": "1"
                                                    },
                                                    "customer_id": {
                                                        "description": "Id interno del cliente",
                                                        "type": "string",
                                                        "example": "2"
                                                    },
                                                    "closed_at": {
                                                        "description": "Fecha del cierre del caso",
                                                        "type": "string",
                                                        "example": "null"
                                                    },
                                                    "paquete": {
                                                        "description": "Nombre del paquete",
                                                        "type": "string",
                                                        "example": "Básico"
                                                    },
                                                    "servicio": {
                                                        "description": "Nombre del servicio",
                                                        "type": "string",
                                                        "example": "Procedimiento y/o juicio de divorcio incausado"
                                                    },
                                                    "cliente": {
                                                        "description": "Nombre completo del cliente",
                                                        "type": "string",
                                                        "example": "Lourdes Perez Lopez"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "collectionFormat": "multi"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/api/v2/contracts/files/{id}": {
            "post": {
                "tags": [
                    "App móvil"
                ],
                "summary": "Consulta de contrato",
                "operationId": "App\\Http\\Controllers\\API\\CRUDContractsController::seeContracts",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id del contrato",
                        "required": true,
                        "example": "1"
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_base64_": {
                                            "type": "string",
                                            "example": "JVBERi0xLjcKMSAwIG9iago8PCAvVHlwZSAvQ2F0YWxvZwovT3V0bGluZXMgMiAwIFIKL1BhZ2VzIDMgMCBSID4+CmVuZG9iagoyIDAgb2JqCjw8IC9UeXBlIC9PdXRsaW5lcyAvQ291bnQgMCA+PgplbmRvYmoKMyAwIG9i"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/api/user/pass": {
            "post": {
                "summary": "Cambiar contraseña (nueva)",
                "operationId": "App\\Http\\Controllers\\API\\CRUDUserController::resetPassword",
                "requestBody": {
                    "description": "Recuperar cuenta",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id",
                                    "passwordOld",
                                    "passwordNew"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "1"
                                    },
                                    "passwordOld": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "1234567"
                                    },
                                    "passwordNew": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "Nueva_123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "properties": {
                                                "id": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "El campo id seleccionado no existe."
                                                    },
                                                    "collectionFormat": "multi"
                                                },
                                                "passwordOld": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "El campo password old debe ser una cadena de caracteres."
                                                    },
                                                    "collectionFormat": "multi"
                                                },
                                                "passwordNew": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "El campo password new es obligatorio."
                                                    },
                                                    "collectionFormat": "multi"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "code": {
                                            "type": "number",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Datos incorrectos"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "code": {
                                            "type": "number",
                                            "example": "200"
                                        },
                                        "messages": {
                                            "type": "string",
                                            "example": "Contraseña actualizada, inicie sesión"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "messages": {
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/api/user/recover": {
            "post": {
                "summary": "Recuperar cuenta (nuevo)",
                "operationId": "App\\Http\\Controllers\\API\\CRUDUserController::recoverPassword",
                "requestBody": {
                    "description": "Recuperar cuenta",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "email",
                                        "format": "email",
                                        "example": "user1@mail.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "properties": {
                                                "error": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "El campo email seleccionado no existe."
                                                    },
                                                    "collectionFormat": "multi"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "code": {
                                            "type": "number",
                                            "example": "200"
                                        },
                                        "messages": {
                                            "type": "string",
                                            "example": "Se ha enviado por correo electrónico su nueva contraseña para iniciar sesión"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/cases/payments": {
            "get": {
                "summary": "Consulta de pagos del caso",
                "operationId": "App\\Http\\Controllers\\API\\CasesPaymentsController::paymentsCase",
                "responses": {
                    "201": {
                        "description": "Consulta de los pagos del caso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "code": {
                                            "type": "int",
                                            "example": "200"
                                        },
                                        "data": {
                                            "description": "Lista de pagos ordenados descendente",
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "amount": {
                                                        "type": "number",
                                                        "example": "2800"
                                                    },
                                                    "bank": {
                                                        "type": "string",
                                                        "example": "Banamex"
                                                    },
                                                    "bank_auth_code": {
                                                        "type": "string",
                                                        "example": "801585"
                                                    },
                                                    "brand": {
                                                        "type": "string",
                                                        "example": "visa"
                                                    },
                                                    "card_type": {
                                                        "type": "string",
                                                        "example": "visa"
                                                    },
                                                    "cases_id": {
                                                        "type": "number",
                                                        "example": "1"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "example": "2021-01-20T21:52:02.000000Z"
                                                    },
                                                    "currency": {
                                                        "type": "string",
                                                        "example": "MXN"
                                                    },
                                                    "folio": {
                                                        "type": "string",
                                                        "example": "tr6upcmdama4dmyjee3a"
                                                    },
                                                    "id": {
                                                        "type": "number",
                                                        "example": "1"
                                                    },
                                                    "subscription_id": {
                                                        "type": "number",
                                                        "example": "1"
                                                    },
                                                    "type_paid": {
                                                        "type": "string",
                                                        "example": "ONLINE"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "example": "2021-02-20T21:52:02.000000Z"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "collectionFormat": "multi"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "properties": {
                                                "caseId": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "El campo case id es obligatorio"
                                                    },
                                                    "collectionFormat": "multi"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/api/contracts": {
            "post": {
                "summary": "Contración de paquetes: El tipo de autenticacion es bearer",
                "operationId": "App\\Http\\Controllers\\API\\ContractPackageController::index",
                "requestBody": {
                    "description": "Contración de paquetes: El tipo de autenticacion es bearer",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "tokenId",
                                    "deviceSessionId",
                                    "packageId",
                                    "serviceId"
                                ],
                                "properties": {
                                    "tokenId": {
                                        "type": "string",
                                        "example": "kl8gm1x69epllqw1sqdj"
                                    },
                                    "deviceSessionId": {
                                        "type": "string",
                                        "example": "kl8gm1x69epllqw1sqdj"
                                    },
                                    "packageId": {
                                        "description": "Id del paquete",
                                        "type": "number",
                                        "example": "1"
                                    },
                                    "serviceId": {
                                        "description": "Id del servicio",
                                        "type": "number",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "400": {
                        "description": "List",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "code": {
                                            "type": "int",
                                            "example": "201"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Token ID does not exist"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "List",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "cases_id": {
                                                        "description": "Id interno de la BD de ATA",
                                                        "type": "number",
                                                        "example": "kl8gm1x69epllqw1sqdj"
                                                    },
                                                    "id_card_openpay": {
                                                        "description": "Id de la tarjeta registrada en openpay",
                                                        "type": "string",
                                                        "example": "9823987m1x69epllqw1sqdj"
                                                    },
                                                    "id_suscription_openpay": {
                                                        "description": "Id de la suscripción de en openpay",
                                                        "type": "string",
                                                        "example": "hj3gm1x69epllqw1sqdj"
                                                    },
                                                    "id_customer_openpay": {
                                                        "description": "Id del cliente registrado en openpay",
                                                        "type": "string",
                                                        "example": "9823bbgm1x69epllqw1sqdj"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "collectionFormat": "multi"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/contracts": {
            "post": {
                "tags": [
                    "App móvil"
                ],
                "summary": "Contratación de paquete pagado con tarjeta previamente registrada (Nuevo)",
                "operationId": "App\\Http\\Controllers\\API\\CustomerContractPackageController::index",
                "requestBody": {
                    "description": "Contratación de paquete pagado con tarjeta previamente registrada",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "cardId",
                                    "packageId",
                                    "serviceId"
                                ],
                                "properties": {
                                    "cardId": {
                                        "type": "string",
                                        "example": "1"
                                    },
                                    "packageId": {
                                        "description": "Id del paquete",
                                        "type": "number",
                                        "example": "1"
                                    },
                                    "serviceId": {
                                        "description": "Id del servicio",
                                        "type": "number",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "properties": {
                                                "cardId": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "El campo card id seleccionado no existe."
                                                    },
                                                    "collectionFormat": "multi"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "cases_id": {
                                                        "description": "Id interno de la BD de ATA",
                                                        "type": "number",
                                                        "example": "17"
                                                    },
                                                    "id_card_openpay": {
                                                        "description": "Id de la tarjeta registrada en openpay",
                                                        "type": "string",
                                                        "example": "9823987m1x69epllqw1sqdj"
                                                    },
                                                    "id_suscription_openpay": {
                                                        "description": "Id de la suscripción de en openpay",
                                                        "type": "string",
                                                        "example": "hj3gm1x69epllqw1sqdj"
                                                    },
                                                    "id_customer_openpay": {
                                                        "description": "Id del cliente registrado en openpay",
                                                        "type": "string",
                                                        "example": "9823bbgm1x69epllqw1sqdj"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "collectionFormat": "multi"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/api/v2/meeting/paid/online": {
            "post": {
                "tags": [
                    "App móvil"
                ],
                "summary": "Registro de citas online, pagada con tarjeta seleccionada (Nuevo)",
                "description": "",
                "operationId": "App\\Http\\Controllers\\API\\CustomerMeetingsOnlinePaymentController::index",
                "requestBody": {
                    "description": "Registro de citas online, pagada con tarjeta seleccionada",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "idCard",
                                    "cvv2",
                                    "date",
                                    "time",
                                    "type_meeting",
                                    "type_payment",
                                    "deviceIdHiddenFieldName"
                                ],
                                "properties": {
                                    "idCard": {
                                        "description": "Identificador único interno de la tarjeta registrada por el cliente",
                                        "type": "string",
                                        "format": "string",
                                        "example": "1"
                                    },
                                    "cvv2": {
                                        "description": "cvv de la tarjeta",
                                        "type": "string",
                                        "format": "string",
                                        "example": "121"
                                    },
                                    "date": {
                                        "description": "fecha de la cita",
                                        "type": "string",
                                        "format": "date",
                                        "example": "2021-01-26"
                                    },
                                    "time": {
                                        "description": "hora de la cita",
                                        "type": "string",
                                        "example": "10:00"
                                    },
                                    "type_meeting": {
                                        "type": "string",
                                        "pattern": "/^(CALL|VIDEOCALL|PRESENTIAL)$/",
                                        "example": "CALL"
                                    },
                                    "type_payment": {
                                        "type": "string",
                                        "pattern": "/^(ONLINE)$/",
                                        "example": "ONLINE"
                                    },
                                    "deviceIdHiddenFieldName": {
                                        "description": "Deberá ser generada desde el API JavaScript",
                                        "type": "string",
                                        "format": "string",
                                        "example": "236454545454848484"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "code": {
                                            "type": "int",
                                            "example": "201"
                                        },
                                        "data": {
                                            "properties": {
                                                "meeting": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "number",
                                                            "example": "1"
                                                        },
                                                        "folio": {
                                                            "type": "string",
                                                            "example": "261020201320595f97219b21381"
                                                        },
                                                        "category": {
                                                            "type": "string",
                                                            "example": "PAID"
                                                        },
                                                        "type_meeting": {
                                                            "type": "number",
                                                            "example": "CALL"
                                                        },
                                                        "url_meeting": {
                                                            "type": "number",
                                                            "example": ""
                                                        },
                                                        "dt_start": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "example": "2020-10-26 18:40:00"
                                                        },
                                                        "dt_end": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "example": "2020-10-26 19:20:00"
                                                        },
                                                        "price": {
                                                            "type": "number",
                                                            "example": "300.00"
                                                        },
                                                        "contacts_id": {
                                                            "type": "number",
                                                            "example": "23"
                                                        },
                                                        "updated_at": {
                                                            "type": "number",
                                                            "example": "1"
                                                        },
                                                        "created_at": {
                                                            "type": "number",
                                                            "example": "1"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "properties": {
                                                "date": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "El date no puede ser una fecha anterior a la fecha actual."
                                                    },
                                                    "collectionFormat": "multi"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/api/exponent/devices/subscribe": {
            "post": {
                "tags": [
                    "App móvil"
                ],
                "summary": "Subscripción de token (EXPO)",
                "operationId": "App\\Http\\Controllers\\API\\ExpoController::index",
                "requestBody": {
                    "description": "Subscripción de token (EXPO)",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "expo_token"
                                ],
                                "properties": {
                                    "expo_token": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "1212545bhgghfg.hfbhjg"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "int",
                                            "example": "failed"
                                        },
                                        "error": {
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "example": "The token provided is not a valid expo push notification token."
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "succeeded"
                                        },
                                        "error": {
                                            "properties": {
                                                "expo_token": {
                                                    "type": "string",
                                                    "example": "1212545bhgghfg.hfbhjg"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/api/exponent/devices/unsubscribe": {
            "post": {
                "tags": [
                    "App móvil"
                ],
                "summary": "Eliminar la subcripción del token (EXPO)",
                "operationId": "App\\Http\\Controllers\\API\\ExpoController::FunctionName",
                "requestBody": {
                    "description": "Eliminar la subcripción del token (EXPO)",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "expo_token"
                                ],
                                "properties": {
                                    "expo_token": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "1212545bhgghfg.hfbhjg"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "int",
                                            "example": "failed"
                                        },
                                        "error": {
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "example": "The token provided is not a valid expo push notification token."
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "deleted": {
                                            "type": "boolean",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/api/meeting/free": {
            "post": {
                "summary": "Registrar una cita gratuita",
                "operationId": "App\\Http\\Controllers\\API\\FreeMeetingController::register",
                "requestBody": {
                    "description": "Registrar una cita gratuita",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "phone",
                                    "date",
                                    "time",
                                    "type_meeting",
                                    "category"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Nombres"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user1@mail.com"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "format": "number",
                                        "pattern": "[0-9]{10}",
                                        "example": "1234567890"
                                    },
                                    "date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2020-10-26"
                                    },
                                    "time": {
                                        "type": "string",
                                        "format": "string",
                                        "pattern": "/^(09|(1[0-8]))\\:[0-5][0-9]$/",
                                        "example": "18:00"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "code": {
                                            "type": "int",
                                            "example": "201"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Cita creada"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "folio": {
                                                        "type": "string",
                                                        "example": "261020201320595f97219b21381"
                                                    },
                                                    "category": {
                                                        "type": "string",
                                                        "example": "FREE"
                                                    },
                                                    "type_meeting": {
                                                        "type": "number",
                                                        "example": "CALL"
                                                    },
                                                    "url_meeting": {
                                                        "type": "number",
                                                        "example": ""
                                                    },
                                                    "dt_start": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2020-10-26 18:40:00"
                                                    },
                                                    "dt_end": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2020-10-26 19:20:00"
                                                    },
                                                    "price": {
                                                        "type": "number",
                                                        "example": "1650.50"
                                                    },
                                                    "contacts_id": {
                                                        "type": "number",
                                                        "example": "1"
                                                    },
                                                    "updated_at": {
                                                        "type": "number",
                                                        "example": "1"
                                                    },
                                                    "created_at": {
                                                        "type": "number",
                                                        "example": "1"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "collectionFormat": "multi"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "code": {
                                            "type": "int",
                                            "example": "422"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "properties": {
                                                "email": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "El campo email es obligatorio."
                                                    },
                                                    "collectionFormat": "multi"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/oauth/token": {
            "post": {
                "summary": "Log In",
                "operationId": "App\\Http\\Controllers\\LoginController::index",
                "requestBody": {
                    "description": "Log In con el método tradicional",
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "grant_type",
                                    "client_id",
                                    "client_secret"
                                ],
                                "properties": {
                                    "grant_type": {
                                        "type": "string",
                                        "example": "password"
                                    },
                                    "client_id": {
                                        "type": "string",
                                        "example": "4"
                                    },
                                    "client_secret": {
                                        "type": "string",
                                        "example": "Kagy4h0z9QsXJBNRgvL5VXwbeUmwEeTdbAYwt4lA"
                                    },
                                    "username": {
                                        "description": "Es requerido cuando grant_type=password",
                                        "type": "string",
                                        "example": "erika@airmedia.com.mx"
                                    },
                                    "password": {
                                        "description": "Es requerido cuando grant_type=password",
                                        "type": "string",
                                        "example": "12345678"
                                    },
                                    "scope": {
                                        "description": "Es requerido cuando grant_type=password",
                                        "type": "string",
                                        "example": "2"
                                    },
                                    "token": {
                                        "description": "Este valor corresponde al access_token que entrega Facebook. Es requerido cuando grant_type=facebook",
                                        "type": "string",
                                        "example": "2"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "invalid_grant"
                                        },
                                        "error_description": {
                                            "type": "string",
                                            "example": "The provided authorization grant (e.g., authorization code, resource owner credentials) or refresh token is invalid, expired, revoked, does not match the redirection URI used in the authorization request, or was issued to another client."
                                        },
                                        "hint": {
                                            "type": "string",
                                            "example": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "The provided authorization grant (e.g., authorization code, resource owner credentials) or refresh token is invalid, expired, revoked, does not match the redirection URI used in the authorization request, or was issued to another client."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "token_type": {
                                            "type": "string",
                                            "example": "Bearer"
                                        },
                                        "expires_in": {
                                            "type": "string",
                                            "example": "1296000"
                                        },
                                        "access_token": {
                                            "type": "string",
                                            "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9...."
                                        },
                                        "refresh_token": {
                                            "type": "string",
                                            "example": "def5020073e0ffbc1c1d8888481987032b6ef29733bb29f396df4680f1fa0628dd81f2cb5154d72c933dd898f0422bd72700281a96bc509e08ba6d9851493f312d86228ed1140666e0bbd71e4253ac55b7cf361cf5dde350f19bd30db8da277b5882f5873c3b9fed61dd4d9c81a8ccaf313febeda3041c1776493127c9aab5534aeb46df27020e4d9e8013cb24bf7669f99f0da42ae1be0a21a4b684461a8d0948c625934edbdd2ac35f33633f4f25d4eb31262c61fe66495f82cadd1b0ccafba105b09b54278e1e3c3600bd80b1e3195c3f2fcb83158b61d20f811c2a263ede290697bec8a4ff62ca7d537993af6776b0fc57f11e077f3efaa4a90fb33fcd27cea40e690ccdff1a6116bbc34a25470043f5ed0ced0c6691434b1892c31e6805c0603fd5892f6efc3c9b6846ec8b4e08fca8067ac20c54f1da7bd3f7dad2176423143ddd1b7546aca879b9fd18bae67c4d22ae5cba3276b7f3a21813127428e596f157c8"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/meeting/paid/offline": {
            "post": {
                "summary": "Registrar una cita de pago en tienda",
                "operationId": "App\\Http\\Controllers\\API\\OfflinePaidMeetingController::index",
                "requestBody": {
                    "description": "Registrar una cita por pago en tienda",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "phone",
                                    "date",
                                    "time",
                                    "type_meeting",
                                    "type_payment",
                                    "deviceIdHiddenFieldName",
                                    "token_id"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Nombres"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user1@mail.com"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "format": "number",
                                        "pattern": "[0-9]{10}",
                                        "example": "1234567890"
                                    },
                                    "date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2020-10-26"
                                    },
                                    "time": {
                                        "type": "string",
                                        "format": "string",
                                        "pattern": "/^(09|(1[0-8]))\\:[0-5][0-9]$/",
                                        "example": "18:00"
                                    },
                                    "type_meeting": {
                                        "type": "string",
                                        "format": "string",
                                        "pattern": "/^(CALL|VIDEOCALL|PRESENTIAL)$/",
                                        "example": "CALL"
                                    },
                                    "type_payment": {
                                        "type": "string",
                                        "format": "string",
                                        "pattern": "/^(OFFLINE)$/",
                                        "example": "OFFLINE"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "code": {
                                            "type": "int",
                                            "example": "201"
                                        },
                                        "data": {
                                            "properties": {
                                                "meeting": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "number",
                                                            "example": "1"
                                                        },
                                                        "folio": {
                                                            "type": "string",
                                                            "example": "261020201320595f97219b21381"
                                                        },
                                                        "category": {
                                                            "type": "string",
                                                            "example": "PAID"
                                                        },
                                                        "type_meeting": {
                                                            "type": "number",
                                                            "example": "CALL"
                                                        },
                                                        "url_meeting": {
                                                            "type": "number",
                                                            "example": ""
                                                        },
                                                        "dt_start": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "example": "2020-10-26 18:40:00"
                                                        },
                                                        "dt_end": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "example": "2020-10-26 19:20:00"
                                                        },
                                                        "price": {
                                                            "type": "number",
                                                            "example": "1650.50"
                                                        },
                                                        "contacts_id": {
                                                            "type": "number",
                                                            "example": "23"
                                                        },
                                                        "updated_at": {
                                                            "type": "number",
                                                            "example": "1"
                                                        },
                                                        "created_at": {
                                                            "type": "number",
                                                            "example": "1"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "url_file_charge": {
                                                    "description": "Url de la referencia de pago de Open pay",
                                                    "type": "string",
                                                    "example": "https:\\/\\/sandbox-dashboard.openpay.mx\\/paynet-pdf\\/me4rw2430fbizvozxcq1\\/9988783077895466"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "code": {
                                            "type": "int",
                                            "example": "422"
                                        },
                                        "message": {
                                            "type": "string",
[...]
