{
    "openapi": "3.0.0",
    "info": {
        "title": "API ATA",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://apidev.usercenter.mx/"
        },
        {
            "url": "http://localhost:8000/"
        }
    ],
    "paths": {
        "/api/hours": {
            "get": {
                "summary": "Horas disponibles referente a la fecha seleccionada",
                "operationId": "App\\Http\\Controllers\\API\\AppointmentDateController::hours",
                "requestBody": {
                    "description": "",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "type",
                                    "date"
                                ],
                                "properties": {
                                    "type": {
                                        "type": "string",
                                        "example": "CALL"
                                    },
                                    "date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2020-10-25"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": [
                                        "message",
                                        "errors"
                                    ],
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "he given data was invalid."
                                        },
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "date": {
                                                        "type": "string",
                                                        "example": "El campo date ser una fecha posterior o igua a now"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "collectionFormat": "multi"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "string",
                                                "example": "09:00"
                                            },
                                            "collectionFormat": "multi"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/benefits": {
            "get": {
                "summary": "Todos los beneficios",
                "operationId": "App\\Http\\Controllers\\API\\BenefitsController::all",
                "responses": {
                    "200": {
                        "description": "List",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "number",
                                                        "example": "1"
                                                    },
                                                    "package_id": {
                                                        "type": "number",
                                                        "example": "2"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Seguimiento..."
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "collectionFormat": "multi"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/benefits/{id}": {
            "get": {
                "summary": "Beneficios por paquete",
                "operationId": "App\\Http\\Controllers\\API\\BenefitsController::byPackage",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id del paquete",
                        "required": true,
                        "example": "1"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "number",
                                                        "example": "1"
                                                    },
                                                    "package_id": {
                                                        "type": "number",
                                                        "example": "2"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Seguimiento..."
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "collectionFormat": "multi"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/meeting/free": {
            "post": {
                "summary": "Registrar una cita gratuita",
                "operationId": "App\\Http\\Controllers\\API\\MeetingFreeController::register",
                "requestBody": {
                    "description": "Registrar una cita gratuita",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "phone",
                                    "date",
                                    "time",
                                    "type_meeting",
                                    "category"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Nombres"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user1@mail.com"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "format": "number",
                                        "pattern": "[0-9]{10}",
                                        "example": "1234567890"
                                    },
                                    "date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2020-10-26"
                                    },
                                    "time": {
                                        "type": "string",
                                        "format": "string",
                                        "pattern": "/^(09|(1[0-8]))\\:[0-5][0-9]$/",
                                        "example": "18:00"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "code": {
                                            "type": "int",
                                            "example": "201"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Cita creada"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "folio": {
                                                        "type": "string",
                                                        "example": "261020201320595f97219b21381"
                                                    },
                                                    "category": {
                                                        "type": "string",
                                                        "example": "FREE"
                                                    },
                                                    "type_meeting": {
                                                        "type": "number",
                                                        "example": "CALL"
                                                    },
                                                    "url_meeting": {
                                                        "type": "number",
                                                        "example": "1"
                                                    },
                                                    "dt_start": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2020-10-26 18:40:00"
                                                    },
                                                    "dt_end": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2020-10-26 19:20:00"
                                                    },
                                                    "price": {
                                                        "type": "number",
                                                        "example": "1650.50"
                                                    },
                                                    "contacts_id": {
                                                        "type": "number",
                                                        "example": "1"
                                                    },
                                                    "updated_at": {
                                                        "type": "number",
                                                        "example": "1"
                                                    },
                                                    "created_at": {
                                                        "type": "number",
                                                        "example": "1"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "collectionFormat": "multi"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "code": {
                                            "type": "int",
                                            "example": "422"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "properties": {
                                                "email": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "El campo email es obligatorio."
                                                    },
                                                    "collectionFormat": "multi"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/packages": {
            "get": {
                "summary": "Todos los paquetes",
                "operationId": "App\\Http\\Controllers\\API\\PackagesController::all",
                "responses": {
                    "200": {
                        "description": "List",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "number",
                                                        "example": "1"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Básico"
                                                    },
                                                    "description": {
                                                        "type": "string",
                                                        "example": "Seguimiento..."
                                                    },
                                                    "periodicity": {
                                                        "type": "string",
                                                        "example": "MONTHLY|YEARLY"
                                                    },
                                                    "amount": {
                                                        "type": "number",
                                                        "example": "2800.00"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "collectionFormat": "multi"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/services": {
            "get": {
                "summary": "Todos los servicios",
                "operationId": "App\\Http\\Controllers\\API\\ServicesController::all",
                "responses": {
                    "200": {
                        "description": "List",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "number",
                                                        "example": "1"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Procedimiento ..."
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "collectionFormat": "multi"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/users": {
            "post": {
                "summary": "Registrar usuario",
                "operationId": "App\\Http\\Controllers\\API\\UsersController::register",
                "requestBody": {
                    "description": "Registrar usuario por el medio tradicional",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "password",
                                    "last_name1",
                                    "last_name2",
                                    "phone"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Nombres"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user1@mail.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "PassWord12345"
                                    },
                                    "last_name1": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Apellido materno"
                                    },
                                    "last_name2": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Apellido paterno"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "format": "number",
                                        "pattern": "[0-9]{10}",
                                        "example": "1234567890"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "code": {
                                            "type": "int",
                                            "example": "201"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Usuario creado"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "collectionFormat": "multi"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "properties": {
                                                "email": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "El valor del campo email ya está en uso."
                                                    },
                                                    "collectionFormat": "multi"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "security": [
        []
    ]
}